In [1]:
#Hints:
# First, use Pandas, zipfile, and BytesIO library to extract the data. Find out a way to extract only
#files that consists useful data.
# Hint: pd.read_csv(BytesIO(z.read(file_name)), encoding='utf-8', engine='python', header=None)
# Then, visualize the number of male and female babies born in a particular year with the help of
#pandas.DataFrame.plot, then Analyse baby names by sorting out all birth counts.
# Then, analyse baby names by sorting out top 100 birth counts and group them by names to find
#out popular baby names

In [ ]:
 #we have to extract the dataset in the program, visualize the number of male and female babies born in a particular year, and find out popular baby names

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from zipfile import ZipFile
from io import BytesIO

In [7]:
#z = ZipFile('names.zip').extractall('.')

In [10]:
#with zipfile.ZipFile("names.zip","r") as zip_ref:
#   z = zip_ref.extractall("targetdir")

In [38]:
#with ZipFile('names.zip', 'r') as zipObj:
#   # Extract all the contents of zip file in current directory
#   zipObj.extractall(path=None, members=['NationalReadMe.pdf'], pwd=None)

In [55]:
# Create a ZipFile Object and extract only the file containing useful data
with ZipFile('names.zip', 'r') as zipObj:
   # Get a list of all archived file names from the zip
   listOfFileNames = zipObj.namelist()
   # Iterate over the file names
   for fileName in listOfFileNames:
            
       # Check filename endswith csv
        if fileName.endswith('.txt'):
            #print(fileName)
           # Extract a single file from zip
            zipObj.extract(fileName)

In [39]:
#years = []

#for year in range ( 1880, 2021):
#    years.append(pd.read_csv(f'yob{year}.txt', names = ['Name', 'Sex', 'ID']))
#    years[-1]['Year'] = year

In [47]:
#df = pd.read_csv(BytesIO(z.read('names')), encoding='utf-8', engine='python', header=None)

In [56]:
zf = ZipFile("names.zip", "r") #Here, we are loading provided zipfile into zf variable.
df1 = pd.DataFrame(columns = ['Name', 'Gender', 'Births', 'Year']) #Here, we added column names as the original files didn't had it.
for i in zf.infolist():
    if(i.filename.endswith('txt')):
        year = i.filename[3:7]
        df = pd.read_csv(BytesIO(zf.read(i.filename)),names = ['Name','Gender', 'Births', 'Year'], encoding='utf-8', engine='python', header=None)
        df['Year'] = int(year)
        df1 = pd.concat([df1,df])
#(code is given by intellipaat)

In [51]:
df1

            Name Gender Births  Year
0           Mary      F   7065  1880
1           Anna      F   2604  1880
2           Emma      F   2003  1880
3      Elizabeth      F   1939  1880
4         Minnie      F   1746  1880
...          ...    ...    ...   ...
31266     Zykell      M      5  2020
31267      Zylus      M      5  2020
31268     Zymari      M      5  2020
31269        Zyn      M      5  2020
31270      Zyran      M      5  2020

[2020863 rows x 4 columns]